body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

div {
    margin-top: 20px;
    font-size: 18px;
}
